.toastify {
  position: absolute;
  padding: 15px 15px 10px;
  top: 10px;
  left: 40px;
  width: 340px;
  background-color: rgba(155, 153, 153, 0.6);
  border-radius: 10px;
  z-index: 3;
}

.toastifyHeader {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.toastifyHeader button {
  width: 50px;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: var(--secondary);
  transition: all 0.25s ease;
}

.toastifyHeader button:hover {
  background-color: var(--backgroundBtn);
  color: var(--secondary);
}

.toastify h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: var(--secondary);
}

.toastify p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: var(--secondary);
}

.toastify p span {
  font-size: 1.1rem;
  color: var(--error);
}

.toastifyItems {
}

.toastifyList {
  margin-bottom: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  max-height: 115px;
  overflow-y: auto;
}

.toastifyList li {
  height: auto;
  font-size: 0.7rem;
  color: var(--secondary);
  margin-left: 10px;
  list-style-type: unset;
}

.toastifyControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
