.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeButton {
  position: absolute;
  top: 5%;
  right: 110px;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  color: rgb(239, 239, 247);
  background-color: rgb(58, 6, 95);
  border: none;
  z-index: 2;
  transition: all 0.25s ease;
  cursor: pointer;
}

.homeButton:hover {
  background-color: rgb(245, 22, 99);
  color: rgb(247, 247, 255);
}

.homeButton:active {
  background-color: rgb(1, 226, 129);
  color: rgb(247, 247, 255);
}
