.themeControls {
  position: absolute;
  top: 30px;
  right: 50px;
  max-width: 135px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
