.searchContainer {
  margin: 0 auto;
  width: 100%;
  padding: 80px 40px 60px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.searchControls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
