.checkbox {
  align-self: flex-start;
}

.formControl {
  font-family: system-ui, sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.7em;
  cursor: pointer;
}

.formControl + .formControl {
  margin-top: 1em;
}

.formControl--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.inputCheckbox {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.1em;
  height: 1.1em;
  border: 0.12em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.inputCheckbox::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.inputCheckbox:checked::before {
  transform: scale(1);
}

.inputCheckbox:focus {
  outline: max(1px, 0.1em) solid currentColor;
  outline-offset: max(2px, 0.1em);
}

.inputCheckbox:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}
