.viewContainer {
  width: 100%;
  text-align: center;
  /*min-height: calc(100vh - 245px);*/
  flex: 0 0 69%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.vehiclesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.notification {
  font-size: 24px;
  letter-spacing: 1px;
}
