ul.list,
ol.list,
li.list-item {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.loading {
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
}

.content {
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.app {
  height: 100vh;
  background-color: var(--background);
}

.input {
  padding: 8px 8px 8px 14px;
  width: 230px;
  font-family: Arial, serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.55);
  outline: none;
  border: none;
  border-radius: 5px;
}

.input--primary {
  color: var(--primary);
}

.input--secondary {
  color: var(--backgroundBtn);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  height: 35px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.button--primary {
  background-color: var(--backgroundBtn);
  border: 1px solid var(--primary);
  color: var(--secondary);
}

.button--secondary {
  background-color: var(--secondary);
  border: 1px solid var(--backgroundBtn);
  color: var(--backgroundBtn);
}

.button--search {
  padding: 10px 14px;
  width: 80px;
  background-color: var(--primary);
  border-radius: 5px;
  border: 1px solid var(--primary);
  color: var(--search);
  font-family: Arial, serif;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

.button--error {
  padding: 10px 14px;
  width: 200px;
  border-radius: 5px;
  border: none;
  color: var(--error);
  background-color: var(--primary);
  font-family: Arial, serif;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

.button--search:hover {
  color: var(--primary);
  border: 2px solid var(--outlined);
  background-color: var(--search);
}

.button--search:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.button--error:hover {
  background-color: var(--error);
  border: 2px solid var(--outlined);
  color: var(--search);
}

.button--select {
  color: var(--primary);
}

.link--alert {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  color: var(--secondary);
  background-color: var(--backgroundBtn);
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-family: system-ui, sans-serif;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link--alert:hover {
  color: var(--backgroundBtn);
  background-color: var(--secondary);
}

.button--delete {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  color: var(--backgroundBtn);
  background-color: var(--delete);
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-family: system-ui, sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button--delete:hover {
  color: var(--delete);
  background-color: var(--backgroundBtn);
}
