#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

nav {
  margin: 0 auto;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.navLink {
  padding: 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5d68d0;
  border: 1px solid #5d68d0;
  text-decoration: none;
  transition: color 0.25s ease;
}

nav .active {
  padding: 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e8590c;
  border: 1px solid #e8590c;
}

.home {
  padding: 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(225, 215, 24, 0.7);
  border: 1px solid rgba(225, 215, 24, 0.7);
  text-decoration: none;
  position: absolute;
  top: 2rem;
  right: 3rem;
  transition: all 0.25s ease;
}

.home:hover {
  color: rgba(225, 215, 24, 0.9);
  border: 1px solid rgba(225, 215, 24, 0.9);
}
