:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: '#FFF';
  --secondary: '#FFF';
  --background: '#FFF';
  --white: '#FFF';
  --backgroundBtn: '#FFF';
  --error: '#FFF';
  --search: '#FFF';
  --outlined: '#FFF';
}

body {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background: url('./assets/background.png') no-repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
}
