.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  opacity: 0.5;
}

.formInput {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  outline: none;
}

.powerMeter {
  width: 300px;
  height: 0.25rem;
  border-radius: 0.2rem;
  background-color: rgba(201, 201, 201, 0.5);
}

.powerMeter .powerScale {
  width: 1%;
  height: 100%;
  border-radius: 0.2rem;
  transition: 0.3s;
  background-color: #ffffff;
}
